/* navbar */
.navbar {
    background-color: #78d7ff;
    padding: 0;
    margin: 0;
}
.navbar-nav {
   margin: 0 auto;
}
/*.nav-item {
    margin: 0 15px;
}*/
.nav-link {
    color: #000;
    font-size: 1.5em;
    text-align: center;
}
.nav-item:hover {
    background-color: #61bde4;
}
.nav-link:hover {
    color: black;
    text-decoration: none;
}
#logo {
    margin: 5px 0 0 10px;
}
@media screen and (max-width: 992px){
    #logo {
        width: 150px;
    }
    .nav-item {
        margin: 0;
    }
}
.navbar-toggler-icon img {
    width: 40px;
}
.navbar-toggler-icon {
    margin: 5px 10px 0 0;
}
/* footer*/
footer {
    background-color: #61bde4;
    padding-top: 5px;
    padding-bottom: 10px;
}
.logo-footer {
    height: 40px;
    margin-top: 5px;
}
footer p {
    margin: 0;
}
.payment {
    margin-top: 24px;
}
.row {
    margin: 0;
    padding: 0;
}
section {
    display: none;
    margin-top: 30px;
}
#accueil {
    display: block;
}
.black-divider {
    width: 60%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 15px;
}
.price {
    font-weight: bold;
}
#stationery h1 {
font-size: 20px;
}
#archive h1 {
    font-size: 20px;
}
#pen h1 {
    font-size: 20px;
}
#supplies h1 {
    font-size: 20px;  
}
.displayProduct {
    height: 490px;
    width: 490px;
    margin: 0 auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
}
.modal-body h1 {
    font-size: 20px;
}
.modal-body .btn {
    padding-bottom: 21px;
}
.modal-body .modal-item {
    display: none;
}
.textIndex {
    margin-top: 30px;
}
.titreIndex {
    margin-bottom: 30px;
}
#basketIcon {
    height: auto;
    width: 50px;
}
/*@media screen and (max-width: 374px){
    .displayProduct {
        height: 150px;
        width: 150px;
    }
}*/